 body{
	  	background-color: lightpink
	  }
	   h1{color: white;
	   	text-align: center;
	   }
	   h2{color: purple}
	   p{
	   	font-family: helvetica;
	   	font-size: 20px;
	   	text-decoration-color: white;
	   	text-decoration:underline;
	   	text-decoration-color:yellow

	   }