 body{background-image: url(https://pmcvariety.files.wordpress.com/2015/05/avengers_ultron_poster.jpg?w=1000&h=563&crop=1);}
	
	   h1{color: white;
	   	text-align: center;
	   }


	   h2{color: purple}
       	   p{
		
	   	font-family: helvetica;
	   	font-size: 20px;
	   	text-decoration-color: white;
	   	text-decoration:underline;
		   text-decoration-color:yellow;
		   background-color:blue;
                  }
		   	
